@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #581cff;
  --secondary-color: #10003d;
  --tertiary-color: #fff;
  --primary-font: 'Roboto', sans-serif;
}
