/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #be4600;
  --secondary-color: #ffe8de;
  --tertiary-color: #fff;
  --fourth-color: #dac0b5;
  --primary-font: 'Roboto', sans-serif;
  --button-hover-color: #a13b00;
}

a{
  text-decoration: none;
  color: #fff;
}

*{
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
